p{
  font-size:12;
  margin-top:20px;
}

.topimg {
  margin-top: -10px;
  margin-left: 15px;
}

.navbar{
  background-color: rgb(220,229,216);
  margin-left: 0;
  height: 80px;
  left: 0;
  border-bottom-width: 4px;
  border-bottom-color: rgb(176,215,141);
}

.nav navbar-nav{
  height: 80px;
}

.nav li{
  height: 80px;
}

.nav li a{
  height: 80px;
  padding-top: 30px;
  font-size: 20px;
  color: black;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
}

.container-fluid{
  padding:0;
  
}

.col-sm-4{
  width:400px;
}

.well{
  width:300px;
}

.well .shiny-input-container {
    width: 300px;
}

.form-group{
  width: 250px;
  margin-bottom: -20px;
}

.form-control{
  border-radius:0;
}

.input-group{
  border-radius:2px;
  width:300px;
}

.btn-file{
  border-radius:0;
}

.well{
  top:0;
  left:0;
  margin-left:-19px;
  margin-top:-19px;
  border:none;
  width:350px;
  
}

.progress-bar{
  background-color:rgb(176,215,141);
  height:5px;
  border-radius:0;
}


#foodJournal_progress{
  border-radius:0;
  height:5px;
  margin-bottom:30px;
}

#foodJournal{
  color:blue;
  width: 100%;
}

#demo{
  width: 148px;
  border-radius:2px;
}

#clear{
  width: 148px;
  border-radius:2px;
  background-color: rgb(230, 129, 134, 0.6);
}

#display{
  margin-bottom:20px;
}

#diversity_description{
  font-size:14;
}