.topimg {
  margin-top: -10px;
  margin-left: 15px;
}

.navbar{
  background-color: rgb(220,229,216);
  margin-left: 0;
  height: 80px;
  left: 0;
  border-bottom-width: 4px;
  border-bottom-color: rgb(176,215,141);
}

.nav navbar-nav{
  height: 80px;
}

.nav li{
  height: 80px;
}

.nav li a{
  height: 80px;
  padding-top: 30px;
  font-size: 20px;
  color: black;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
}

.container-fluid{
  padding:0;
  
}

.col-sm-4{
  width: 200px;
}

.form-group{
  width: 200px;
}

#foodJournal{
  color:blue;
  width: 100%;
}

#demo{
  width: 100%;
  
}